.movie-tunes {
  &.navbar {
    padding: 2rem;
    color: $purple;
  }
}

.mobile-buttons {
  .btn {
    margin-left: 2rem;
  }
}

.desktop-buttons {
  justify-content: flex-end;
  display: flex;
  flex-grow: 1;

  .btn {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
