.movie-tunes {
  &.navbar {
    padding: 2rem;
    color: $purple;
  }
}

.mobile-buttons {
  .btn {
    margin-left: 2rem;
  }
}

.desktop-buttons {
  justify-content: flex-end;
  display: flex;
  flex-grow: 1;

  a + a {
    margin-left: 1rem;
  }
}
