.search-cta {
  &__container {
    text-align: center;
    margin-top: -8rem;

    @media #{$min768} {
      font-size: 1.8rem;
    }
  }
  &__wrap {
    @include overlayWrap;
  }
  &.row {
    text-align: center;
    max-width: 32rem;
    margin: auto;
  }
}
