@import "../../scss/extends";
@import "../../scss/variables";

.search-cta {
  &__container {
    text-align: center;
    margin-top: -8rem;
    font-size: 1.8rem;
  }
  &__wrap {
    @include overlayWrap;
  }
  &.row {
    text-align: center;
    max-width: 32rem;
    margin: auto;
  }
}
