// https://carterbancroft.com/sass-and-webpack/

@import "~bootstrap/scss/bootstrap";

@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/extends";
@import "./scss/base";
@import "./scss/btn";
@import "./scss/card";
@import "./scss/form";
@import "./scss/list";
@import "./scss/table";

@import "./Components/Buttons/Exit";

@import "./Components/Navigation";
@import "./Components/Logos";
@import "./Components/Icons";

@import "./Components/Search/Form";
@import "./Components/Search/Message";
@import "./Components/Search/Results";
@import "./Components/Search/Loading";

@import "./Components/Overlays/About";
@import "./Components/Overlays/Account";
@import "./Components/Overlays/Login";
@import "./Components/Overlays/Menu";
@import "./Components/Overlays/Signup";

@import "./Components/Results/Album";
@import "./Components/Results/Album/Related";
@import "./Components/Results/Film";

#root,
.App,
.home-screen {
  height: 100%;
}

.container {
  padding: 3rem;
}

.row {
  display: block;
  margin: 0;
}

.md {
  &-down {
    @media #{$min768} {
      display: none;
    }
  }
  &-up {
    @media #{$max767} {
      display: none;
    }
  }
}

.badge-primary {
  background-color: $purple;
}

.alert {
  &-danger {
    background-color: $red--fade;
    border-color: $red;
    color: $red;
  }
}

.overlay {
  &__container {
    .form-control,
    .btn {
      &.focus-visible {
        @include double-box($purple--tint);

        &.logout-account {
          @include double-box;
        }
      }
    }
  }
  &__exit-icon {
    @include overlayGap;
    @extend %overlay-exit-icon;
  }
  &__exit {
    @extend %overlay-exit;
  }
}

.navbar-brand {
  &.focus-visible {
    @include double-box;
    border-radius: $border-radius;
  }
}

.focus-visible {
  position: relative;
  z-index: 2;
}

.form-control {
  &.focus-visible {
    @include double-box($purple--fade);
  }
}

.related-artists {
  &__link {
    grid-template-columns: auto 2rem;
    padding: 0.9rem 1.2rem;
    align-items: center;
    font-weight: bold;
    font-size: 1.4rem;
    column-gap: 1rem;
    color: $gray-700;
    line-height: 1;
    display: grid;

    + .related-artists__link {
      border-top: 1px solid $gray-700;
    }

    &:nth-child(odd) {
      background-color: $gray-200;
    }

    &:hover {
      background-color: $gray-400;
      text-decoration: none;
      color: inherit;
    }

    &.focus-visible {
      background-color: $gray-400;
    }
  }
}
