// https://carterbancroft.com/sass-and-webpack/

@import "~bootstrap/scss/bootstrap";

@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/extends";
@import "./scss/base";
@import "./scss/btn";
@import "./scss/card";
@import "./scss/form";
@import "./scss/list";
@import "./scss/table";

@import "./Components/Navigation";
@import "./Components/Logos";
@import "./Components/Icons";

@import "./Components/Search/Form";
@import "./Components/Search/Message";
@import "./Components/Search/Results";
@import "./Components/Search/Loading";

@import "./Components/Overlays/About";
@import "./Components/Overlays/Account";
@import "./Components/Overlays/Login";
@import "./Components/Overlays/Menu";
@import "./Components/Overlays/Signup";

@import "./Components/Results/Album";
@import "./Components/Results/Album/Related";
@import "./Components/Results/Film";

#root,
.App,
.home-screen {
  height: 100%;
}

.container {
  padding: 3rem;
}

.row {
  display: block;
  margin: 0;
}

.md {
  &-down {
    @media #{$min768} {
      display: none;
    }
  }
  &-up {
    @media #{$max767} {
      display: none;
    }
  }
}

.badge-primary {
  background-color: $purple;
}

.alert {
  &-danger {
    background-color: $red--fade;
    border-color: $red;
    color: $red;
  }
}

.overlay {
  &__exit-icon {
    @include overlayGap;
    @extend %overlay-exit-icon;
  }
  &__exit {
    @extend %overlay-exit;
  }
}

.navbar-brand {
  &.focus-visible {
    @include double-box($col: $purple);
    border-radius: $border-radius;
  }
}
