@import "../../scss/variables";
@import "../../scss/extends";

.related-artists {
  &.container {
    border: $related-artists-border;
    position: relative;
    margin-top: 2rem;
    padding: 0;
  }
  &.wrap {
    max-height: 11.6rem;
    overflow: hidden;
  }
  &.btn {
    @extend %btn-link;
    font-size: 1.3rem;
    padding: 0;
  }
  &.prev {
    @extend %related-page-icon;
    height: 0;
    top: 0;

    svg.icon-prev {
      position: relative;
      top: -1.8rem;
    }
  }
  &.next {
    @extend %related-page-icon;
    padding-top: 0.2rem;
    bottom: 0;
  }
}
