@import "../../scss/variables";
@import "../../scss/extends";

.start {
  &.container {
    text-align: center;
    max-width: none;
    height: 100%;
    padding: 0;

    @include center;
  }

  &.wrap {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    z-index: 2;
  }
}

.squiggle {
  &.container {
    @include zeros;
    position: absolute;
    z-index: 1;

    @include center;
  }
  &.wrap {
    vertical-align: middle;
    display: inline-block;
  }
}
