@import "../../scss/variables";
@import "../../scss/extends";

.start {
  &.container {
    background-color: $purple;
    text-align: center;
    max-width: none;
    height: 100%;
    padding: 0;

    @include center;
  }

  &.wrap {
    vertical-align: middle;
    display: inline-block;
  }
}
