.form.overlay__container {
  .overlay__form {
    @include overlayGap;
    position: relative;
    z-index: 2;
  }
}

.alert.user-denied {
  text-align: center;
}

.signup-link {
  border-radius: $border-radius;

  &.focus-visible {
    @include single-box;
  }
}
