%btn-base {
  padding: 0.35rem 1rem 0.5rem;
  border-radius: 0.35rem;
  font-weight: bold;
  font-size: 1.6rem;
}

%btn-outline {
  @extend %btn-base;
  background-color: white;
  border-color: $purple;
  color: $purple;

  &:hover,
  &:focus,
  &:active {
    background-color: $purple !important;
    border-color: $purple !important;
    color: white;
  }
}

%btn-primary {
  @extend %btn-base;
  background-color: $purple;
  border-color: $purple;
  color: white;

  &:hover,
  &:focus,
  &:active {
    background-color: $purple !important;
    border-color: transparent !important;
  }
}

%btn-light {
  @extend %btn-base;
  padding: 0.7rem 3rem 1rem;
  background-color: $pink;
  border-color: $pink;
  color: $purple;

  &:hover,
  &:focus,
  &:active {
    background-color: $pink !important;
    border-color: $pink !important;
    color: $purple !important;
  }
}

%btn-link {
  @extend %btn-base;
  text-align: inherit;
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

%overlay {
  &-exit-icon {
    position: relative;
    margin: 0 auto;
    width: 3.4rem;
    z-index: 2;
  }
  &-exit {
    @include zeros;
    position: absolute;
    z-index: 1;
  }
}

%related-page-icon {
  text-align: center;
  position: absolute;
  cursor: pointer;
  height: 2.5rem;
  z-index: 2;
  right: 0;
  left: 0;
}
