html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: roboto, sans-serif;
  color: $gray--dark;
  font-size: 1.6rem;
  height: 100%;
}

h1 {
  font-size: 2.6rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0;
}

a {
  color: $purple;
  outline: none;

  &:hover {
    color: $purple;
  }
}

p {
  &:last-of-type {
    margin-bottom: 0;
  }
  &.terms {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
}
