.btn {
  transition: none;

  &.focus-visible {
    @include single-box;
  }

  &-link {
    @extend %btn-link;

    &.focus-visible {
      @include single-box;
    }
  }

  &-inline {
    text-align: inherit;
    padding: 0;
    border: 0;
  }

  &-light {
    @extend %btn-light;
  }

  &-primary {
    @extend %btn-primary;

    &.focus-visible {
      @include double-box($purple--fade);
    }
  }

  &-outline-primary {
    @extend %btn-outline;
  }

  &-md {
    font-size: 1.8rem;
  }

  &-lg {
    font-size: 2rem;

    @media #{$min768} {
      font-size: 2.2rem;
    }
  }

  &.save-film {
    margin-top: -2rem;

    &.focus-visible {
      box-shadow: none;

      svg path.fill {
        fill: $pink;
      }
    }
  }

  &.remove-album {
    &.focus-visible {
      box-shadow: none;

      svg path {
        &.outline {
          fill: $white;
        }
        &.fill {
          fill: $gray-700;
        }
      }
    }
  }

  &.related-artists {
    padding: 0 0.25rem;
    font-size: 1.3rem;

    &.focus-visible {
      text-decoration: none;
      box-shadow: none;
      color: $purple;

      svg {
        fill: $purple;
      }
    }
  }
}
