.table {
  tr {
    td {
      border-top: $related-artists-border;
    }
    &:first-of-type {
      td {
        border-top: none;
      }
    }
  }
  td {
    padding: 0.8rem 1rem;
    line-height: 1;

    &:first-of-type {
      padding-right: 0;
    }
  }
}
