$min680: "only screen and (min-width: 680px)";
$max767: "only screen and (max-width: 767px)";
$min768: "only screen and (min-width: 768px)";
$min960: "only screen and (min-width: 960px)";

$purple: #5551ff;
$purple--tint: #ebe5ff;
$purple--fade: #f6f6ff;

$pink: #ff8a80;

$red--fade: #fce8ea;
$red: #981b25;

$gray--fade: #fcfcfc;
$gray--dark: #404040;

$related-artists-border: 1px solid $gray--dark;
