@import "../../scss/variables";

// ************************************************************
// X-LINK *****************************************************
// ************************************************************

svg.x-link {
  display: block;
}

// ************************************************************
// NEXT + PREV ************************************************
// ************************************************************

svg.icon-next,
svg.icon-prev {
  width: 3rem;

  path.fill {
    fill: white;
  }

  path.outline,
  path.arrow {
    fill: $gray--dark;
  }

  &:hover,
  &:active {
    path.fill {
      fill: $gray--dark;
    }
    path.arrow {
      fill: white;
    }
  }
}

// ************************************************************
// REMOVE *****************************************************
// ************************************************************

svg.icon-remove {
  cursor: pointer;
  width: 3.4rem;

  &.size-sm {
    width: 2.2rem;
  }

  &.icon-secondary {
    path.fill {
      fill: transparent;
    }
    path.outline {
      fill: $purple;
    }
  }
}

// ************************************************************
// HEART ******************************************************
// ************************************************************

svg.icon-save {
  &.saved {
    path.fill {
      fill: #ff8a80;
    }
  }
}

// ************************************************************
// SEARCH *****************************************************
// ************************************************************

svg.icon-search {
  cursor: pointer;

  &.size-sm {
    width: 2.2rem;
  }

  &.icon-secondary {
    fill: $purple;
  }

  + .icon-remove {
    margin-left: 1rem;
  }
}

// ************************************************************
// BURGER *****************************************************
// ************************************************************

svg.icon-burger {
  display: block;
  fill: $purple;
}

// ************************************************************
// HELP *******************************************************
// ************************************************************

svg.icon-help {
  margin: 0 auto 4rem;
  display: block;
  width: 3.4rem;
  fill: $pink;
}
