.signup {
  .overlay__wrap {
    @include overlayGap;
  }
}

.has-account {
  padding: 2rem;
  text-align: center;

  .btn-link {
    text-decoration: underline;
    vertical-align: baseline;
    font-weight: normal;
  }
}
